body {
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Poppins'
  }
  
/* header */
.main-header {
    background-color: #C1C1C1; /* Warna latar belakang abu-abu untuk header */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .logo h1 {
    margin: 0;
    color: #0f5612;
  }
  
  .user-icon {
    font-size: 24px;
  }
/*end*/

/*isi tabel beranda*/
.table-title {
  text-align: center;
  margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 150px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #19981E;
}
  
.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 3px 3px;
    cursor: pointer;
}
/*end*/

/*navbar*/
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    font-family: sans-serif, 'Poppins';
    margin-top: 100px; /* Jarak antara konten utama dengan footer */
  }
  
  .tab-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
  }
  
  .list-item {
    list-style-type: none;
    flex-basis: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    color: #362b2b;
    transform: translateY(0);
    cursor: pointer;
    margin-bottom: auto;
    justify-content: center;
    transition: 0.5s ease;
  }
  
  .fa-solid {
    font-weight: 900;
    font-size: 25px;
  }
  
  .list-item-text {
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    transform: translateY(calc(50% + 10px));
    transition: 0.5s ease, 0.2s ease;
  }
  
  .list-item:hover {
    color: #0f5612; /* Warna saat tombol dihover */
    transform: translateY(-5px);
  }
  
  .list-item.active {
    color: #0f5612; /* Warna saat tombol aktif */
  }
  
  .list-item:hover .list-item-text {
    transform: translateY(25px);
    opacity: 1;
  }
/*end*/
  



